name: Build and tag

on:
  push:
    branches:
      - main # Default release branch
    tags:
      - "!*"

env:
  NODE_VERSION: "24"

jobs:
  build-and-tag:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: install dependencies
        run: |
          pnpm install

      - name: lint
        run: |
          pnpm run --if-present lint

      - name: build
        env:
          NODE_ENV: production
        run: pnpm run build

      - name: Get package version
        id: get_version
        uses: bbonkr/get-version-action@v1.0.5
        with:
          project: "./package.json"

      - uses: bbonkr/git-tag-check-action@v1.0.12
        id: check_tag
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          tag: "v${{ steps.get_version.outputs.version }}"

      - name: package-version-to-git-tag
        uses: pkgdeps/git-tag-action@v2
        if: ${{ steps.check_tag.outputs.tag == '' }}
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          github_repo: ${{ github.repository }}
          version: ${{ steps.get_version.outputs.version }}
          git_commit_sha: ${{ github.sha }}
          git_tag_prefix: "v"

      - name: git tag skipped
        if: ${{ steps.check_tag.outputs.tag != '' }}
        run: |
          echo "Tag (v${{ steps.check_tag.outputs.tag }}) is exists already."
