name: Create release

on:
  push:
    tags:
      - "v*.*.*"

env:
  NODE_VERSION: "24"
  PNPM_VERION: "10"

jobs:
  create-release:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: ${{ env.PNPM_VERION}}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"

      - name: install dependencies
        run: |
          pnpm install

      - name: lint
        run: |
          pnpm run lint

      - name: build
        env:
          NODE_ENV: production
        run: |
          pnpm run build

      - name: Release Drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
          version: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
