name: Create release

on:
  push:
    tags:
      - "v*.*.*"

env:
  NODE_VERSION: "24"

jobs:
  create-release:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: install dependencies
        run: |
          npm install

      - name: lint
        run: |
          npm run lint

      - name: build
        env:
          NODE_ENV: production
        run: |
          npm run build

      - name: Release Drafter
        id: release_drafter
        uses: release-drafter/release-drafter@v5
        if: ${{ steps.check_tag.outputs.tag == '' }}
        with:
          config-name: release-drafter.yml
          version: ${{ steps.get_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
