name: publish gh-pages

on:
  release:
    types: [published]

env:
  NODE_VERSION: "24"
  PNPM_VERION: "10"

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: ${{ env.PNPM_VERION}}

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Get package version
        id: get_version
        uses: bbonkr/get-version-action@v1.0.5
        with:
          project: "./package.json"

      - name: install dependencies (package)
        run: pnpm install

      - name: lint (package)
        run: pnpm run lint

      - name: build (package)
        run: pnpm run build
        env:
          NODE_ENV: production

      - name: pack (package)
        run: |
          pwd
          mkdir out
          pnpm run pack:local

      - name: Install dependencies (Example)
        working-directory: ./example
        run: |
          echo "Filename: ${PKG_FILENAME}-${{ steps.get_version.outputs.version }}${PKG_EXT}"
          pnpm add "../out/${PKG_FILENAME}-${{ steps.get_version.outputs.version }}${PKG_EXT}"
          pnpm install
        env:
          PKG_FILENAME: bbon-react-calendar
          PKG_EXT: .tgz

      - name: Build (Example)
        working-directory: ./example
        run: |
          pnpm run build
        env:
          NODE_ENV: production

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GH_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./example/out
          # tag_name: "v${{ steps.get_version.outputs.version }}"
          # tag_message: "Deployment v${{ steps.get_version.outputs.version }}"
