name: publish NPM

on:
  release:
    types: [published]

permissions:
  id-token: write # Required for OIDC
  contents: read

env:
  NODE_VERSION: "24"

jobs:
  publish-npm:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "npm"
          registry-url: "https://registry.npmjs.org"

      - name: install dependencies
        run: |
          npm install

      - name: lint
        run: |
          npm run lint

      - name: build
        env:
          NODE_ENV: production
        run: |
          npm run build

      - name: publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish --access public
